/*--- Fonts:
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
-----*/

/*----Layout styling----*/

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.2px;
}

/*--------------- Main ----------------*/

.main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

/*--------------- Aside/todo ----------------*/

h3 {
  font-size: 22px;
  margin: 5px;
}

.aside-content {
  border-right: 2px solid black;
  width: 30%;
  padding: 5px 20px;
  max-height: 822px;
}

/*--------------- Main/Calendar ----------------*/

.main-content {
  width: 70%;
  padding: 5px 20px;
}
